In [30]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [53]:
my_data = pd.read_csv("Lenses.csv", delimiter=",")
my_data[0:20]

    age  spectacle prescription  astigmatic  tear production rate  classes
0     1                       1           1                     1        3
1     1                       1           1                     2        2
2     1                       1           2                     1        3
3     1                       1           2                     2        1
4     1                       2           1                     1        3
5     1                       2           1                     2        2
6     1                       2           2                     1        3
7     1                       2           2                     2        1
8     2                       1           1                     1        3
9     2                       1           1                     2        2
10    2                       1           2                     1        3
11    2                       1           2                     2        1
12    2                       2           1                     1        3
13    2                       2           1                     2        2
14    2                       2           2                     1        3
15    2                       2           2                     2        3
16    3                       1           1                     1        3
17    3                       1           1                     2        3
18    3                       1           2                     1        3
19    3                       1           2                     2        1

In [54]:
X = my_data[['age', 'spectacle prescription', 'astigmatic', 'tear production rate']].values
X[0:20]

array([[1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 1, 2, 1],
       [1, 1, 2, 2],
       [1, 2, 1, 1],
       [1, 2, 1, 2],
       [1, 2, 2, 1],
       [1, 2, 2, 2],
       [2, 1, 1, 1],
       [2, 1, 1, 2],
       [2, 1, 2, 1],
       [2, 1, 2, 2],
       [2, 2, 1, 1],
       [2, 2, 1, 2],
       [2, 2, 2, 1],
       [2, 2, 2, 2],
       [3, 1, 1, 1],
       [3, 1, 1, 2],
       [3, 1, 2, 1],
       [3, 1, 2, 2]])

In [36]:
y = my_data["classes"]
y[0:5]

0    none
1    soft
2    none
3    hard
4    none
Name: classes, dtype: object

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [66]:
classes = DecisionTreeClassifier(criterion="gini", max_depth = 4)
classes # it shows the default parameters

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [67]:
classes.fit(X_trainset,y_trainset)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [68]:
predTree = classes.predict(X_testset)

In [69]:
print (predTree [0:5])
print (y_testset [0:5])

['none' 'none' 'soft' 'hard' 'none']
22    none
12    none
17    none
15    none
14    none
Name: classes, dtype: object

In [70]:
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.75